body {
  padding: 15px;
  // padding-bottom: 0;
  color: $plantracit;
  background-color: $bg-color;
  font-family: 'Geometria', sans-serif;
  letter-spacing: -.01em;
  font-size: 18px;
}

.canvas {
  background-color: $bg-card;
}

.hidden {
  display: none;
}

#capture {
  background-color: $bg-card;
  color: $text-card;
  width: 740px;
  display: block;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 70px;
  padding-bottom: 70px;

  .card-body {
    // margin-top: 70px;
    // margin-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .logo {
      margin-bottom: 40px;
    }

    .header {
      font-weight: 800;
      font-size: 48px;
      margin-bottom: 20px;
      letter-spacing: -.04em;
    }

    .hello {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 30px;
      letter-spacing: -.02em;

      span {
        font-weight: 600;
        white-space: nowrap;
      }
    }

    .personal-card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 40px;
      line-height: 30px;

      .personal-card__photo {
        width: 170px;
        height: auto;

        img {
          object-fit: cover;
          max-width: 170px;
        }
      }

      .personal-card__info {
        width: calc(100% - 170px);
        padding-left: 20px;

        div {
          margin-bottom: 10px;

          span {
            font-weight: 600;
          }
        }

        .phone .phone__additional {
          padding-left: 8px;
        }
      }
    }

    .great {
      line-height: 30px;
      font-size: 24px;
      letter-spacing: -.02em;
    }
  }
}