#setData {
  margin-bottom: 50px;
  width: 600px;

  .input-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;

      &.bfi-label {
        margin-bottom: 0;
      }
    }
  }

  input {
    resize: none;
    border: 1px solid $plantracit;
    border-radius: 10px;
    padding: 10px;
    // width: 100%;
    color: $plantracit;
  }
  
  .phone-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
  
    #setData__phone {
      width: 50%;
    }
  
    .additional-phone {
      width: 50%;
      padding-left: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: baseline;
  
      label {
        margin-bottom: 0;
        width: 60px;
      }

      input {
        width: calc(100% - 70px);
      }
    }
  }
}

.btn {
  font-weight: 500;
  padding: 11px 30px 10px;
  line-height: 1.4;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  transition: all .3s ease-in-out;

  &.btn_blue {
    color: white;
    background-color: $plskyblue;
    border: 2px solid $plskyblue;

    &:focus, &:hover {
      background-color: $plskyblue_d;
      border-color: $plskyblue_d;
      transition: all .3s ease-in-out;
    }
  }

  &.btn_red {
    color: white;
    background-color: $plcarmin;
    border: 2px solid $plcarmin;

    &:focus, &:hover {
      background-color: $plcarmin_d;
      border-color: $plcarmin_d;
      transition: all .3s ease-in-out;
    }
  }

  &.btn_line_blue {
    color: $plskyblue;
    background-color: #ffffff;
    border: 2px solid $plskyblue;

    &:focus, &:hover {
      color: #ffffff;
      background-color: $plskyblue_d;
      border-color: $plskyblue_d;
      transition: all .3s ease-in-out;
    }
  }


  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.btn_min-width {
    min-width: 200px;
    width: fit-content;
    // margin-left: auto;
    // margin-right: auto;
  }
}

.switch-field {
	display: flex;
	// margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: $bg-color;
	color: $plskyblue;
	font-weight: 500;
  padding: 11px 30px 10px;
  line-height: 1.4;
  font-size: 18px;
	text-align: center;
	margin-right: -2px;
	border: 2px solid $plskyblue;
	transition: all .3s ease-in-out;
  margin-bottom: 0!important;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: $plskyblue;
  color: $text-card;
}

.switch-field label:first-of-type {
	border-radius: 10px 0 0 10px;
}

.switch-field label:last-of-type {
	border-radius: 0 10px 10px 0;
}

.time-area {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;

  .switch-field {
    width: 240px;
  }

  #setData__timeStart {
    width: calc(100% - 240px);
  }
}

.button-block {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 1000;
}